@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #0a3cce;
}
.main{
    position: relative;
    background-color: #0a3cce;
    
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color:transparent;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
#page1>nav{
    height: 15vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav{
    padding-left: 15px;
    display: flex;
    justify-content: space-evenly;
}
.right-nav>button{
    z-index: 99;
    height: 35px;
    padding-inline: 15px;
    font-size: 1em;
    font-weight: 50;
    background-color: transparent;
    border-radius: 25px;
    margin-right: 30px;
    border: 0.5px solid white ;
    color: white;
}

.right-nav>.menu{
    font-size: 1rem;
    background-color: transparent;
    border-radius: 20px;
    margin-right: 70px;
}
.logo{
    margin-left: 50px;
}
.right-nav>button:hover{
    background-color: #fff;
    color: blue;
    transition: 0.3s ease;
}
.page1-content{
    z-index: 10;
    background-color: #fff;
    position:absolute;
    left: 150px;
    top: 50vh;
    color: #fff;
    background-color: transparent;
}
.page1-content>h1{
    font-size: 6rem;
    font-weight: 300;
    line-height: 5rem;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
}
.page1-content>h1>span{
    font-size: 5rem;
}
.page1-content-bottom{
    display: flex;
    justify-content: space-between;
    
}
.page1-content-bottom>h3{
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    
}
.page1-content-bottom>.page1-content-btn{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-right: 100px;
    color: blue;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.page1-content-bottom>.page1-content-btn:hover{
    background-color: black;
    color: #fff;
    transition: 0.2s ease;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color:#0a3cce;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    padding-top: 10%;
    padding-left: 10%;

}
#page2>h1{
    width: 90%;
    font-weight: 300;
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #dadada69;
}
#page2>h3{
    font-weight: 100;
    font-size: 1rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-color:transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    padding-left: 10%;
    z-index: 33;

}
#page4>h1{
    width: 90%;
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #dadada69;
}
#page4>h3{
    font-weight: 100;
    font-size: 1rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page6{
    height: 100vh;
    width: 100vw;
    background-color:transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    padding-left: 10%;
    z-index: 99;
}
#page6>h1{
    width: 90%;
    font-weight: 300;
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color: #dadada69;
}
#page6>h3{
    font-weight: 100;
    font-size: 1rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: transparent;
}
#page7>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
.page7-circle{
    z-index: 99;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: #fff solid 1px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page7-innerCircle{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: #fff solid 1px;
    position: absolute;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page8-bottom>h1{
    font-weight: 300;
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    margin-bottom: 20px;
}
.page8-bottom>button{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    color: blue;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
#page9{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
}

.page9-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page9-left>h1{
    font-weight: 300;
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
}
.page9-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page9-right>img{
    scale: .75;
    border-radius: 25px;
}
#page10{
    height: 100vh;
    width: 100vw;
    padding: 5% 10%;
    display: block;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.box{
   margin-top:5%;
   width: 60%;
   margin-left: 40%;
}
.box>h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.box>p{
    font-size: 1rem;
    font-weight: 200;
    line-height: 2;
}
#page13{
    height: 125vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}
#page13>h1{
    position: absolute;
    display: block;
    left: 10%;
    top: 5%;
    font-weight: 300;
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color:black;;
    z-index: 5;
}
.page13-blog{
    position: relative;
    top: 22%;
    height: 30vh;
    width: 100vw;
    display: flex;
    padding-left: 10%;
    margin-bottom: 1rem;
}
.page13-blog-img{
    height: 100%;
    width: 50%;
}
.page13-blog-img>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: 0.5s;
}
.page13-blog-content{
    width: 50%;
    padding-left: 5%;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page13-blog-content>p{
    top: 5%;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    color:black;
    transition: 0.5s;
}

.page13-blog:hover .page13-blog-img>img{
    transform: scale(1.05);
}
.page13-blog:hover .page13-blog-content>p{
    transform: scale(1.05);
}
#page14{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.page14-top{
    height: 50%;
    display: flex;
    justify-content: end;
}
.page14-top-content{
    height: 100%;
    width: 50%;
    padding-top: 15rem;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.page14-top-content>p{
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    transition: 0.5s;
}
.page14-top-content>h1{
    font-weight: 400;
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    margin-bottom: 2rem ;
    
}
.loop{
    display: flex;
}
.page14-bottom{
    display: flex;
    padding-top: 8rem;
    align-items: end;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.page14-bottom>img{
    padding-inline: 5rem;
}
@keyframes anim{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
}
}

#page15{
    height: 60vh;
    width: 100Vw;
    padding-top: 10%;
    background-color: #0F0F17;
    color: #fff;
    padding-left: 10%;
}
.page15-content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.page15-content>h1{
    font-weight: 300;
    font-size: 6rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3rem;
}
.page15-content>button{
    width: 30%;
    padding: 15px;
    font-size: 1em;
    font-weight: 50;
    background-color: #0a3cce;
    border-radius: 25px;
    margin-right: 30px;
    border: none ;
    color: white;
}

.page15-content>button:hover{
    background-color: #fff;
    color: blue;
    transition: 0.3s ease;
}
#page16{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #0F0F17;
}
.page16-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
    font-family: 'Poppins', sans-serif;
    height: 33.3%;
    width: 100%;
    background-color: #0F0F17;
    color: #fff;
    border-bottom: 0.5px solid #ffffff47;
}
.page16-inner>i{
    font-weight: 200;
    font-size: 2.4vw;
    z-index: 99;
    position: relative;
}
.page16-inner>h1{
    font-size: 3vw;
    font-weight: 300;
    z-index: 99;
    position: relative;
}
.center16{
    height: 0%;
    width: 100%;
    left: 50%;
    top:50%;
    background-color: #0a3cce;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.5s all ease;
}
.page16-inner:hover .center16{
    height: 100%;
}
#page17{
    height: 50vh;
    width: 100vw;
    background-color: #0F0F17;
    display: flex;
    flex-direction: column;
}
#page17{
    height: 50vh;
    width: 100vw;
    display: grid;
    background-color:#0F0F17;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 10vh ;
}
#page17>.links{
    grid-area: 1/1/2/2;
    padding-left: 10vw;
    padding-top: 5vh;
}
#page17>.links>ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}
#page17>.links>ul>li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0.5rem;
}
#page17>.subscribe{
    grid-area: 1/2/2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
}
#page17>.subscribe>input{
    width: 50%;
    margin-top: 5%;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: #fff solid 0.5px;
    font-size: 1rem;
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
#page17>.subscribe>button{
    margin-top: 2.5%;
    color: #fff;
    width: 25%;
    padding: 0.8rem;
    font-weight: 400;
    font-size: 1.5rem;
    font-weight: 50;
    font-family: 'Poppins', sans-serif;
    background-color: #0a3cce;
    border: none;
    outline: none;
    border-radius: 2.5rem ;
}
#page17>.subscribe>button:hover{
    background-color: #fff;
    color: #0a3cce;
    transition: ease 1s;
}
#page17>.copyright{
    grid-area: 2/1/3/3 ;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
#page17>.copyright>p>a{
    color: #0a3cce;
    text-decoration: none;
}